@import '../../scss/variables.scss';

// footer

#app footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  background: $light-gray-color;
  z-index: 10;
}

footer .title-company {
  font-size: 22px;
}

footer .company {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
  border-top: 1px solid $gray-color;
}

footer .link-sns {
  display: flex;
  gap: 20px;
}

footer .link-sns img {
  width: 30px;
  height: 30px;
}
