@import '../../scss/variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  // display: none;
}

.container-login-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  border: 1px solid $gray-color-2;
  border-radius: 10px;
  background-color: $white-color;
  z-index: 100;
  overflow: hidden;
}

.container-login-modal h1 {
  font-weight: 500;
  font-size: 18px;
  color: $black-color;
}

.container-login-modal .top-login-modal {
  padding: 20px 22px 18px;
  border-bottom: 1px solid $gray-color-2;
  text-align: center;
}

.container-login-modal p {
  margin-bottom: 24px;
}
.container-login-modal .content-login-modal {
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
}

.content-login-modal .text-login-modal {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $black-color;
}

/* email & password  */

.email,
.password {
  display: block;
  font-size: 14px;
  margin-bottom: 7px;
  margin-left: 5px;
  margin-top: 10px;
}

.content-login-modal input {
  width: 100%;
  padding: 16px;
  border: 1px solid $gray-color-2;
  border-radius: 5px;
  &:focus {
    outline: none;
    border: 1px solid $main-color;
  }
}

.content-login-modal .input-email,
.content-login-modal .input-password {
  margin-bottom: 16px;
}

/* login & signup button */

.content-login-modal .button-login {
  margin-bottom: 16px;
  display: block;
  padding: 11px;
  border-radius: 5px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
}

.content-login-modal .button-original {
  margin-bottom: 15px;
  background-color: $main-color;
  color: $white-color;
  opacity: 0.8;
}

.content-login-modal .button-signup {
  background-color: $gray-color-1;
  font-weight: 500;
  font-size: 16px;
  color: $black-color;
}

.content-login-modal .button-kakao {
  background-color: $yellow-color;
  font-weight: 500;
  font-size: 16px;
  color: $black-color;
}

/* or-txt */

.content-login-modal .or-txt {
  position: relative;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: $dark-gray-color-2;
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background-color: $gray-color-2;
    width: 44%;
    height: 1px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    background-color: $gray-color-2;
    width: 44%;
    height: 1px;
  }
}

/* warning-message */

.content-login-modal .warning-message {
  display: block;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  color: $red-color;
}
